*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* default of box-sizing is not inherit */
  box-sizing: inherit;
}

html {
  /* browser default font-size is 16px */
  /* font-size: 10px; */
  /* =10px to percent , 10px/16px = 62.5 */
    //This defines what 1rem is
  font-size: 62.5%;
}
body {

  box-sizing: border-box;
}